<h1 class="ui header">
  Editing Grade
</h1>

<%= render 'form', assignment: @assignments %>

<div class="ui basic buttons">
  <%= link_to assignment_admin_url , class: "ui button" do %>
    <i class="chevron left icon"></i> Back
  <% end %>
</div>