<p>
  .

</p>

<br>
<!--  <div class="ui bottom attached segment pushable">  -->

<div class="pusher">
  <div class="ui basic segment">
    <div>
      <div class = "ui message">
        <h1 class="ui info header">
          <h1>Discussions</h1>

          <div class = "ui message">
            <h2>Can't submit</h2>
            <p1>I can't submit my assignment</p1>
          </div>

          <div class = "ui message">
            <h2>Looking for a group</h2>
            <p1>Looking for a group to do this assignment with</p1>
          </div>
      </div>
    </div>
  </div>
</div>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

