<h1>Login#login</h1>
<p>Find me in app/views/login/login.html.erb</p>

<br>
<input type="text">Username</input>
<br>
<input type="text">Password</input>
<br>
<button>LOGIN</button>
<br>
<button><%= link_to "SIGN UP", sign_up_signup_path %></button>