<div class="ui inverted segment">
      <br></br>
      <br></br>
      <br></br>
<i class="bullhorn icon"></i> 
<button class="ui inverted white button">ANNOUNCEMENTS</button>
  <br></br>
  <i class="book icon"></i>
  <button class="ui inverted primary button">MODULES</button>
    <br></br>
  <i class="edit icon"></i>
  <button class="ui inverted green button">ASSIGNMENTS</button>
    <br></br>
  <i class="clipboard icon"></i>
  <button class="ui inverted red button">EXAMS</button>
    <br></br>
  <i class="comment icon"></i>
  <button class="ui inverted orange button">DISCUSSION</button>
    <br></br>
  <i class="video icon"></i>
  <button class="ui inverted yellow button">LECTURES</button>
    <br></br>
  <i class="calendar icon"></i>
  <button class="ui inverted pink button">CALENDAR</button>
   <br></br>
  <i class="file alternate icon"></i>
  <button class="ui inverted blue button">CHANGELOG</button>
</div>